html {
    color: #333;
    font-family: "Verdana", sans-serif;
    font-size: 16px;
}

header {
    align-items: center;
    background-color: #000;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

h1 {
    color: #EED;
    font-size: 3rem;
    font-weight: 700;
    margin-left: 1rem;
}

.nav-menu {
    margin-right: 1rem;
}

a {
    color: #EED;
    padding-left: 1rem;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}

section {
    line-height: 1.5;
    margin: 2rem;
}

/* to stop the sections from starting right at the top of the page, underneath the header, when
the nav links are clicked */

section:target {
    padding-top: 6rem;
    margin-top: -6rem;
}

/* so that the page contents start below the header */

#introduction {
    margin-top: 6rem;
}

h2 {
    align-items: center;
    background-color: #000;
    color: #EED;
    display: flex; /* just so I can control the vertical text positioning */
    font-size: 2.5rem;
    font-weight: 600;
    height: 4rem;
    justify-content: center;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 2rem;
}

.videos {
    display: flex;
    justify-content: space-between;
}

video {
    width: 43%;
}

.videos img {
    width: 8%;
}

.second-scale {
    display: none;
}

.graphs iframe {
    height: 500px;
    width: 100%;
}

footer {
    font-size: 0.8rem;
    text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {

    html {
        font-size: 15px;
    }

    section {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .second-scale {
        display: block; /* show a second copy of the scale, next to the second video */
    }

    .videos {
        flex-wrap: wrap;
    }

    .videos img {
        width: 10%;
    }

    video {
        width: 85%;
    }

    video:nth-child(1) {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 650px) {

    html {
        font-size: 14px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .videos img {
        width: 13%;
    }

    video {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .videos img {
        width: 15%
    }
}
